<div class="container pt-4">
   <div class="row">
      <div class="col-md-3 text-center">
         <img [src]="artista.images | sinfoto" class="img-fluid img-circle" alt="">

         <h2 class="mt-2 mb-4">{{artista.name}}</h2>

         <a [href]="artista.external_urls?.spotify" class="btn btn-success btn-block"
            target="_blank">Abrir en Spotify</a>

         <button class="btn btn-outline-light btn-block my-3"
            [routerLink]="['/search']" type="button">Regresar</button>

      </div>
      <div class="offset-md-1 col-md-8">
         <h2>Top 10 Canciones</h2>
         <table class="table table-resposive-sm text-light table-borderless">
            <thead>
               <tr>
                  <td class="border-0">#</td>
                  <td class="border-0">Escuchar</td>
                  <td class="border-0">Popularidad</td>
               </tr>
            </thead>
            <tbody>
               <tr *ngFor="let pista of pistas; let i = index" >
                  <td class="align-middle">{{i+1}}</td>
                  <td>
                     <iframe [src]="pista.id | domseguro:'https://open.spotify.com/embed/track/'" class="container-fluid" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                  </td>
                  <td class="align-middle text-center">{{pista.popularity}}%</td>
               </tr>
            </tbody>
         </table>
      </div>

   </div>
</div>
